/*
* HairSalon: Scheduling and Management System
* Systems II - Southern Alberta Institute of Technology
* 
* File Author: Philippe Durand
* 
* System Developed by:
* Joey Ren, Philippe Durand, Miyoung Han, Horace Wan and Nuha Bazara
*/

.CalendarLeft
{
    background-image:url(../images/calendar/calendar_left.gif);
    width:2px;
}

.CalendarRight
{
    background-image:url(../images/calendar/calendar_right.gif);
    width:2px;
}

.CalendarTopLeft
{
    width:2px;
    height:33px;
    background-image:url(../images/calendar/calendar_topleft.gif);
}

.CalendarTopRight
{
    width:2px;
    height:33px;
    background-image:url(../images/calendar/calendar_topright.gif);
}

.CalendarHeader
{
    height:33px;
    background-image:url(../images/calendar/calendar_topheader.gif);
    background-repeat:repeat-x;
}

.CalendarBottom
{
    height:2px;
    background-image:url(../images/calendar/calendar_bottom.gif);
    background-repeat:repeat-x;
}

.CalendarBottomLeft
{
    height:2px;
    width:2px;
    background-image:url(../images/calendar/calendar_bottomleft.gif);
}

.CalendarBottomRight
{
    height:2px;
    width:2px;
    background-image:url(../images/calendar/calendar_bottomright.gif);
}

.CalendarHeaderSeparator
{
    width:2px;
    height:33px;
    background-image:url(../images/calendar/calendar_topheaderseparator.gif);
}

.CalendarCell
{
    width:80px;
    height:73px;
    text-align:right;
    vertical-align:bottom;
    background-image:url(../images/calendar/calendar_cell1.gif);
}

.CalendarCellValid
{
    width:80px;
    height:73px;
    text-align:right;
    vertical-align:bottom;
    background-image:url(../images/calendar/calendar_cell2.gif);
}

.CalendarCellUnused
{
    width:80px;
    height:73px;
    text-align:right;
    vertical-align:bottom;
    background-image:url(../images/calendar/calendar_cell3.gif);
}

.CalendarCellInvalid
{
    width:80px;
    height:73px;
    text-align:right;
    vertical-align:bottom;
    background-image:url(../images/calendar/calendar_cell4.gif);
}

.CalendarCellSelected
{
    width:80px;
    height:73px;
    text-align:right;
    vertical-align:bottom;
    background-image:url(../images/calendar/calendar_cell5.gif);
}

.CalendarCellException
{
    width:80px;
    height:73px;
    text-align:right;
    vertical-align:bottom;
    background-image:url(../images/calendar/calendar_cell6.gif);
}

.CalendarCellBottom
{
    width:80px;
    height:73px;
    text-align:right;
    vertical-align:bottom;
}

.CalendarCellSeparator
{
    width:2px;
    height:33px;
    border:0px;
    background-image:url(../images/calendar/calendar_cellseparator.gif);
}

.CalendarColumn
{
    width:80px;
    align:center;
    text-align:center;
}

.CellFont
{
    font-weight:bold;
    font-size:14pt;
    font-family: Trebuchet MS, trebuchet, Helvetica, sans-serif;
}

.ButtonFont
{
    font-weight:bold;
    font-size:14pt;
    font-family: Trebuchet MS, trebuchet, Helvetica, sans-serif;
    color:#FFFFFF;
}